/* Write you CSS here */
.filters-main-container {
  font-family: 'Roboto';
  width: 100%;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.filters-title-option-container {
  width: 25%;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .filters-title-option-container {
    width: 15%;
  }
}

.filters-title {
  width: 100%;
  color: #9aa5b1;
  font-size: 10px;
}

.filters-select {
  width: 100%;
  cursor: pointer;
  outline: none;
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
}

.filters-option {
  color: #0f172a;
}
